@media (prefers-color-scheme: dark)
  body
    background-color: black
    color: #f3f2f1

  a
    color: #2b88d8
    &:hover
      background-color: #002050

  #search
    background-color: black

  input[type="search"]
    background-color: black

  blockquote
    color: #c8c6c4

  code
    background-color: #323130

  #grand-header
    .description
      color: #c8c6c4
