.card
  margin: 1em 0
  padding: 0 1.5em
  border-left: 2px solid
  .header
    margin-bottom: .25em
    font-size: 1.2em
    font-weight: 600
    font-family: $sansSerifFonts
    text-transform: capitalize
    .symbol
      font-size: .8em
