#grand-header
  .logo
    height: 3rem
    width: 3rem
    display: inline-block
  .magic
    font-size: 2.8rem
    line-height: 3rem
    vertical-align: top
  .logo-text
    font-size: 3rem
    line-height: 3.5rem
    vertical-align: top
  .description
    vertical-align: super
    margin-left: .5rem

    font-family: $sansSerifFonts
    font-size: 1.55rem
    color: grey

.section
  margin-top: 1rem
  margin-bottom: 2rem
  border-top: 2px solid grey
  padding-top: .3rem
  .marker
    position: absolute
    margin: 0

    font-family: $sansSerifFonts
    font-weight: 400
    font-size: 1.6rem
  .content
    padding-left: 10rem
    padding-top: .4rem
    a
      display: block
      position: relative
      // Hack for Zola's Markdown renderer
      margin: 0
      left: -1rem
      font-size: 1.2rem
    p
      margin: 0 0 1rem 0
      padding-left: 1rem
      font-size: 1.1rem
