$sansSerifFonts : 'Hiragino Sans GB', 'Noto Sans CJK SC', 'Noto Sans SC', 'Microsoft YaHei', sans-serif
$serifFonts : 'Noto Serif CJK SC', 'Songti SC', 'Noto Serif SC', 'Microsoft YaHei', serif
$monospaceFonts : 'Source Code Pro', 'Hiragino Sans GB', 'Noto Sans CJK SC', 'Microsoft YaHei', monospace
$singleColWidth: 65rem
$smallScreenWidth: 35rem

@import "./_main.sass"
@import "./_typography.sass"
@import "./_article.sass"
@import "./_index.sass"
@import "./_color.sass"
@import "./_color_dark.sass"

// Here's the language specifc settings
body
  font-size: 1rem

header
  p#description
    // We don't do that here
    font-style: normal
    // Instead, decrease the font size a little bit
    font-size: 1.2rem

#grand-header
  .description
    font-style: normal
