$sansSerifFonts : 'Source Sans Pro', 'Hiragino Sans GB', 'Noto Sans CJK SC', 'Microsoft YaHei', sans-serif
$serifFonts : 'Source Serif Pro', 'Noto Serif CJK SC', 'Songti SC', 'Microsoft YaHei', serif
$monospaceFonts : 'Source Code Pro', 'Hiragino Sans GB', 'Noto Sans CJK SC', 'Microsoft YaHei', monospace
$singleColWidth: 65rem
$smallScreenWidth: 35rem

@import "./_main.sass"
@import "./_typography.sass"
@import "./_article.sass"
@import "./_index.sass"
@import "./_color.sass"
@import "./_color_dark.sass"

// Here's the language specifc settings
#grand-header
  .description
    font-style: normal
