<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="/main.css">
    {% block head %}
    {% endblock head %}
  </head>

  {# For Netsurf #}
  <a name="top"></a>

  <body>
    <div id="search">
      <input id="search-bar" type="search" placeholder="Search AOSC Wiki">
      <div id="search-results">
        <!-- Search Results will be displayed here -->
      </div>
    </div>

    <header>
      {% block header %}
      {% endblock header %}
    </header>

    <main>
      {% block main %}
      {% endblock main %}
    </main>
    <a id="back-to-top" href="#top">
      <div class="icon">↑</div>
    </a>
  </body>

  <script src="/search_index.en.js"></script>
  <script src="/elasticlunr.min.js"></script>
  <script src="/search.js"></script>
</html>
