{% extends "base.html" %}

{% block header %}
<div id="grand-header">
  <div class="grand-title">
    <img class="logo" src="/img/aosc.png">
    <span class="logo-text">/Wiki</span>
    <span class="description">Where People Go To Know... </span>
  </div>
</div>
{% endblock header %}

{% block main %}
<nav>
  <b>Posts</b>
  {% for post in section.pages %}
    <a href="{{ post.permalink }}">{{ post.title }}</a>
  {% endfor %}

  <b>Subsections</b>
  {% for subsection_path in section.subsections %}
  {% set subsection = get_section(path=subsection_path, metadata_only=true) %}
    <a href="{{ subsection.permalink }}">{{ subsection.title }}</a>
  {% endfor %}
</nav>

{{ section.content | safe }}
{% endblock main %}
