{% extends "base.html" %}

{% block head %}
<title>AOSC/{{ config.title }} - {{ page.title }}</title>
<link rel="icon" href="{{ config.extra.logo }}">

<meta property="og:title" content="{{ config.title }} - {{ page.title }}"/>
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ page.permalink }}" />
<meta property="og:image" content="{{ config.extra.logo }}" />
<meta property="og:description" content="{{ page.description }}"/>
<meta name="description" content="{{ page.description }}">
{% endblock head %}

{% block header %}
<div id="position-bar">
  {# Navigation #}
  {% for ancestor in page.ancestors %}
  {% set section = get_section(path=ancestor, metadata_only=true) %}
  <a class="section-link" href="{{ section.permalink }}">{{ section.title }}</a>
  {% if not loop.last %}
  <span>/</span>
  {% else %}
  <span>/</span>
  <a class="section-link" href="{{ page.permalink }}">.</a>
  {% endif %}
  {% endfor %}

  {# Buttons #}
  <div class="right">
    Also available in:
    <a href="#">zh_CN</a>
  </div>
</div>
<h1 id="title">{{ page.title }}</h1>
<p id="description">{{ page.description }}</p>
{% endblock header %}

{% block main %}
<nav>
  <b>On This Page</b>
  {% for header in page.toc %}
  <a class="first-level-header" href="{{ header.permalink }}">{{ header.title }}</a>
  <div style="margin-left: 1.3rem">
    {% for header in header.children %}
    <a href="{{ header.permalink }}">{{ header.title }}</a>
    {% endfor %}
  </div>
  {% endfor %}
</nav>
<article>
  {{ page.content | safe }}
</article>
{% endblock main %}
