{% extends "base.html" %}

{% block main %}

<a href="../"><- Back</a>
<p>
  <i>Debug mode activated.</i>
</p>

<nav>
  <b>Posts in this section:</b>
  {% for post in section.pages %}
  <p>
    <a href="{{ post.permalink }}">{{ post.title }}</a>
  </p>
  {% endfor %}

  <b>Subsections in this section</b>
  {% for subsection_path in section.subsections %}
  {% set subsection = get_section(path=subsection_path, metadata_only=true) %}
  <p>
    <a href="{{ subsection.permalink }}">{{ subsection.title }}</a>
  </p>
</nav>
{% endfor %}
{% endblock main %}
